<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Success Quotes</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/2ce8a563d0.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
      <div class="wrapper">
        <div class="container">
          <div class="title">
            <h1>Success Quotes</h1>
          </div>
          <div class="quote">
            <span id="quote-text"><%= quote %></span>
          </div>
          <div class="author">
            <span>&mdash;</span><span id="author-text"><%= author %></span>
          </div>
          <div class="buttons">
            <a href="#" target="_blank" id="twitter-link">
              <button class="twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
              </button>
            </a>
            <a href="./">
              <button id="new-quote"><span>New Quote</span></button>
            </a>
          </div>
        </div>
        <footer>
          <a href="https://github.com/jaredblumer" target="_blank"><span class="developer">by Jared Blumer</span></a>
        </footer>
      </div>
    <script src="js/twitter.js"></script>
  </body>
</html>
